.Main {
    display: -webkit-box;
    display: -webkit-flex;    
    height: 100%;
}

/* Nav --------------------------------- */

.Nav {
    width: 240px;
    background: hsl(211, 100%, 86%);
}

.ProjectList {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ProjectList-item {
    margin: 20px;
}

.ProjectName {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: hsla(0,0%,0%,.8);
}

.ProjectOpenButton {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background: hsl(216, 100%, 70%);
    color: white;
}

.ProjectOpenButton:hover {
    color: white;
    background: hsl(216, 100%, 74%);
}

.ProjectOpenButton.active {
    background: hsl(216, 50%, 66%);
    -webkit-transform: translateY(1px);
}


/* Stage --------------------------------- */

.Stage {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    border: 1px solid hsl(216, 30%, 60%);
    border-width: 0 1px;
    background-color: hsl(42,83%,95%);
}

.Workbench {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    color: hsl(59, 47%, 88%);
}

/* Footer --------------------------------- */


.Footer {
    height: 250px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    border-top: 1px solid hsl(44,40%,70%);
}

.Serialization {
    margin: 0;
    font-size: 15px;
    line-height: 1.2;
    font-family: "Courier New", Courier, mono;
    color: hsla(0,0%,0%,.7);
    -webkit-user-select: text;
}


/* Inspector --------------------------------- */

.Inspector {
    width: 240px;
    background: hsl(211, 100%, 86%);
}