.Configurator-title {
    margin: 0;
    font-size: 18px;
    padding: 14px;
    color: hsla(0, 0%, 0%, 0.6);
}

.Configurator .Inspector-header {
    background: hsla(0, 0%, 0%, 0.1);
    border-color: hsla(0, 0%, 0%, 0.1);
}

.Configurator .PropertyGroup-toggle {
    background: hsla(0,0%,100%,0.5);
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.Configurator .PropertyEditor {
    background: hsla(0,0%,100%,0.2);
}

.Configurator .Property-label {
    color: hsl(211, 19%, 44%);
}